{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row row-centered">
            <p>This game is played very much like the traditional rock paper scissors with an added twist.</p>
            <p>Rock beats scissors and lizard.</p>
            <p>Paper beats rock and Spock</p>
            <p>Scissors beats paper and lizard</p>
            <p>Lizard beats Spock and paper</p>
            <p>Spock beats scissors and rock</p>
        </div>
    </div>

{% endblock %}
